
{% if app.user %}
    <form action="{{ path('app_scan') }}" method="post">
        
        <h3 class="h3 mb-3 font-weight-normal">Please scan</h3>
        <input type="text" value="" name="_scanstring" id="scanstring" class="form-control" autofocus>
        

        <button class="btn btn-lg btn-primary" type="submit">
            Scan
        </button>
    </form>
{% endif %}