{% extends 'base.html.twig' %}

{% block title %}Startseite{% endblock %}

{% block content %}
<div class="assignmentCategoryGroups-wrapper">

    <div class="assignmentCategoryGroups">
        
        {% for rootCategory in rootCategorys %}
            
            <a href="{{ path('app_assignmentCagetoryGroup', {rootCategoryId: rootCategory.id}) }}">
                <div class="assignmentCategoryGroup assignmentCategoryGroups-0">
                    {{ rootCategory.name }}
                </div>
            </a>
            
        {% endfor %}

    </div>

</div>
{% endblock %}
