{% extends 'base.html.twig' %}

{% block title %}Mitglieder bearbeiten{% endblock %}

{% block content %}
<div class="squad-managing">
    <h1>Edit Member</h1>
    {{ form(squadMember.form) }}

</div>
{% endblock %}
