{% extends 'base.html.twig' %}

{% block title %}Gruppe bearbeiten{% endblock %}

{% block content %}
<div class="squad-managing">
    <h1>Edit Group</h1>
    {{ form(assignmentGroup.form) }}
</div>
{% endblock %}
