{% extends 'base.html.twig' %}

{% block title %}Basis Kategorie bearbeiten{% endblock %}

{% block content %}
<div class="squad-managing">
    <h1>Edit Category</h1>
    {{ form(rootCategory.form) }}
</div>
{% endblock %}
