{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Blog</h1>

        {{ include('form/scan_field.html.twig') }}
    {% block page_contents %}{% endblock %}
{% endblock %}