<div class="activeAssigments-wrapper">
    <h2>Aktive Einsätze</h2>
    <div class="activeAssigments">
        {% for activeAssignmentEntry in activeAssignments %}
            <div class="activeAssigment">
                <div>{{ activeAssignmentEntry.name }}</div>
                <div>Eintragungen: {{ activeAssignmentEntry.assignmentPositions|length }}</div>
                <a href="{{ path('app_assignment', {'id': activeAssignmentEntry.id}) }}">
                    <button>Einsatz fortsetzten</button>
                </a>
                <a href="{{ path('app_assignmentClose', {'id': activeAssignmentEntry.id}) }}" class="close-active-assignment">
                    <button>Einsatz beenden</button>
                </a>
            </div>
        {% endfor %}
    </div>
</div>